mixin section-1(className, title, sub)
	div(class=("flex flex-col items-center") + " " + className)
		div(class="text-color1 font-[700] text-[40px] xl:text-[35px] sm:text-[24px] leading-[50.6px]") #{title}
		div(class="capitalize text-color1/60 font-[400] text-[16px] xl2:text-[12px] leading-[22px] ") #{sub}