<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="tailwind.config.js"> </script>
  </head>
  <body class="font-font1">
    <div class=" bg-color1 text-center py-[10px]">
      <div class="container mx-auto"><span class="font-[400] text-[14px] text-[#FFFFFF]">Đăng ký để được giảm giá 20%.</span><a class="text-[#FFFFFF] underline font-[500] text-[14px]" href="#">Đăng Ký Ngay</a></div>
    </div>
    <header class="header pt-[22px] pb-[24px] sticky top-[0] bg-[white] z-[100]">
      <div class="container">
        <div class="flex items-center justify-between"><a class="hidden lg:inline-block w-[24px] h-[24px]" href=""><i class="fa-solid fa-bars text-color1 text-[18px]"></i></a><a class="iconLogo font-[700] text-[32px] text-color1 lg:flex-1 ml-0 lg:ml-[16px]" href="/" title="28. SHOP">28.SHOP<img src="" alt=""></a>
          <nav class="menu flex lg:hidden gap-[24px] "><a class="capitalize text-color1 font-[400]" href="#">Giới thiệu</a><a class="capitalize text-color1" href="#">Sản phẩm</a><a class="capitalize text-color1" href="#">bài viết</a><a class="capitalize text-color1" href="#">Liên hệ</a></nav>
          <form class="w-[40%] h-[48px] bg-[#F0F0F0] flex lg:hidden items-center rounded-[62px]" action="" target="" method="get" autocomplete="on"> <i class="fa-solid fa-magnifying-glass text-[#969696] ml-[16px] mr-[12px]"></i>
            <input class="bg-transparent w-full outline-none" type="text" placeholder="Tìm kiếm sản phẩm...">
          </form>
          <div class="header__icon-right my-[12px]">
            <div class="iconGioHang flex gap-[14px]"><a class="w-[24px] h-[24px] hidden lg:block" href=""><i class="fa-solid fa-magnifying-glass text-color1 text-[18px]"></i></a><a class="w-[24px] h-[24px]" href=""><i class="fa-regular fa-cart-shopping text-color1 text-[18px]"></i></a><a class="w-[24px] h-[24px]" href=""><i class="fa-regular fa-circle-user text-color1 text-[18px]"></i></a></div>
          </div>
        </div>
      </div>
    </header>
    <footer class="footer bg-[#0000001A] relative">
      <div class="container">
        <div class="pt-[50px] lg:pt-[40px]">
          <div class="flex lg:flex-wrap max-gap-x-[103px] justify-between pb-[48px] lg:gap-y-[32px]">
            <div class="w-[20%] lg:w-full flex flex-col mb-[8px]"><a class="text-color1 text-[33.45px] font-[700] leading-[42.32px]" href="">28.SHOP<img src="" alt=""></a>
              <div class="text-[#00000099] mb-[35px] mt-[25px] lg:my-[20px]">Chúng tôi có những bộ quần áo phù hợp với phong cách của bạn và bạn có thể tự hào khi mặc.</div>
              <div class="flex items-center gap-x-[12px]"><a class="h-[28px] aspect-[28/28] bg-[white] rounded-full flex items-center justify-center border-[1px] border-color1/20" href=""><i class="fa-brands fa-twitter text-[12px] my-auto"></i></a><a class="w-[28px] h-[28px] bg-black rounded-full flex items-center justify-center" href=""><i class="fa-brands fa-facebook-f text-[white] text-[12px]"></i></a><a class="w-[28px] h-[28px] bg-[white] rounded-full flex items-center justify-center border-[1px] border-color1/20" href=""><i class="fa-brands fa-instagram text-[black] text-[14px]"></i></a></div>
            </div>
            <div class="flex flex-col gap-[26px] lg:w-[50%] ">
              <div class="uppercase font-[500] text-[16px] leading-[18px] text-color1 tracking-[3px]">công ty</div>
              <div class="flex flex-col justify-between gap-[19px]"><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">giới thiệu</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">sản phẩm</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">công việc</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">việc làm</a></div>
            </div>
            <div class="flex flex-col gap-[26px] lg:w-[50%] ">
              <div class="uppercase font-[500] text-[16px] leading-[18px] text-color1 tracking-[3px]">trợ giúp</div>
              <div class="flex flex-col justify-between gap-[19px]"><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">hỗ trợ khách hàng</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">thông tin đơn hàng</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">điều khoản &amp; điều kiện</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">chính sách</a></div>
            </div>
            <div class="flex flex-col gap-[26px] lg:w-[50%] ">
              <div class="uppercase font-[500] text-[16px] leading-[18px] text-color1 tracking-[3px]">faq</div>
              <div class="flex flex-col justify-between gap-[19px]"><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">tài khoản</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">quản lý đơn hàng</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">đơn hàng</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">thanh toán</a></div>
            </div>
            <div class="flex flex-col gap-[26px] lg:w-[50%] ">
              <div class="uppercase font-[500] text-[16px] leading-[18px] text-color1 tracking-[3px]">tài nguyên</div>
              <div class="flex flex-col justify-between gap-[19px]"><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">sách miễn phí</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">bài viết</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">kiến thức</a><a class="font-[400] text-[16px] leading-[19px] text-color1/60 capitalize hover:text-[#E76B6E] empty:hidden" href="#">youtube</a></div>
            </div>
          </div>
          <div class="border-[1px] border-color1/10"></div>
          <div class="pt-[30px] pb-[84px] sm:pb-[30.26px] flex justify-between md:flex-col items-center gap-[20px]">
            <div class="font-[400] text-[14px] text-color1/60">28.SHOP © 2024, All Rights Reserved</div>
            <div class="flex gap-[12px] h-[30px]">
              <div class="bg-[#FFFFFF] rounded-[5.38px] h-full shadow-[0px 0.45px 4.48px 0px] shadow-[#B7B7B714] flex items-center justify-center w-[46.61px] border-[0.22px] border-[#D6DCE5]"><img src="/project-3/assets/images/Visa.svg" alt=""></div>
              <div class="bg-[#FFFFFF] rounded-[5.38px] h-full shadow-[0px 0.45px 4.48px 0px] shadow-[#B7B7B714] flex items-center justify-center w-[46.61px] border-[0.22px] border-[#D6DCE5]"><img src="/project-3/assets/images/Mastercard.svg" alt=""></div>
              <div class="bg-[#FFFFFF] rounded-[5.38px] h-full shadow-[0px 0.45px 4.48px 0px] shadow-[#B7B7B714] flex items-center justify-center w-[46.61px] border-[0.22px] border-[#D6DCE5]"><img src="/project-3/assets/images/Paypal.svg" alt=""></div>
              <div class="bg-[#FFFFFF] rounded-[5.38px] h-full shadow-[0px 0.45px 4.48px 0px] shadow-[#B7B7B714] flex items-center justify-center w-[46.61px]  border-[0.22px] border-[#D6DCE5]"><img src="/project-3/assets/images/ Pay.svg" alt=""></div>
              <div class="bg-[#FFFFFF] rounded-[5.38px] h-full shadow-[0px 0.45px 4.48px 0px] shadow-[#B7B7B714] flex items-center justify-center w-[46.61px] border-[0.22px] border-[#D6DCE5]"><img src="/project-3/assets/images/G Pay.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>